<appSettings>
  <!--Config for Cache-->
  <add key="ASPCache" value="True"/>
  <add key="UseCache" value="False"/>
  <add key="CacheFormatGenerate" value="-{0}_{1}"/>
  <add key="CacheFormatGenerateOutputParam" value="{0}|Ouput-{1}"/>
  <add key="IgnoreNotify" value="GenerateCommon|"/>
  <!-- Page Size -->
  <add key="keySHA" value="4elWE7FhvKljiSgvEhDw"/>
  <add key="Domain" value="https://hagopay.com/"/>
  <!-- Start Config email -->
  <add key="IsSendMail" value="true"/>
  <add key="IsVerifyPhone" value="false"/>
  <add key="Host" value="mailer-0304.inet.vn"/>
  <add key="Port" value="587"/>
  <add key="SSL" value="465"/>
  <add key="Sender" value="Support Exness"/>
  <add key="templateMail" value="D:\Project\exness\Prototype\Presentation\PTEcommerce.Web\MailTemplates\SendOTP.html"/>
  <add key="MailAddress" value="info@exnesspartner.net"/>
  <add key="MailUser" value="Support Exness"/>
  <add key="MailPassword" value="TJkPyrq9NOQJ8NBsevfb"/>
  <add key="Maintain" value="false"/>
  <add key="owin:AutomaticAppStartup" value="true" />
</appSettings>
