.mui-xc4csv {
    position: relative;
    box-sizing: border-box;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center;
    margin: 32px 16px;
}

@media (min-width: 576px) {
    .mui-xc4csv {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media (min-width: 768px) {
    .mui-xc4csv {
        margin: 64px;
    }
}

@media (min-width: 1200px) {
    .mui-xc4csv {
        margin: 96px;
    }
}

@media (min-width: 1920px) {
    .mui-xc4csv {
        margin: 128px 320px;
    }
}

.mui-z7jfsf {
    margin: 0;
    font-weight: 600;
    font-size: clamp(1.75rem, 1.3740692479523455rem + 1.0424422933730455vw, 2.625rem);
    line-height: 1.2857142857142858;
}

.tss-sbnuts-title {
    margin-bottom: 64px;
}

.tss-c0ea2o-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 32px;
}

@media (min-width: 576px) {
    .tss-c0ea2o-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
    }
}

.mui-eoeel5 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tss-1nywc0m-heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.tss-1xtp5v8-flag {
    margin-right: 16px;
}

.tss-1p29493-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 32px 16px;
}

@media (min-width: 1200px) {
    .tss-1p29493-container {
        min-height: 614px !important;
    }
}

@media (min-width: 992px) {
    .tss-1p29493-container {
        min-height: 456px;
    }
}
@media (min-width: 768px) {
    .tss-1p29493-container {
        padding: 0px !important;
        background-color: #000;
        min-height: 304px;
    }
}
@media (min-width: 576px) {
    .tss-1p29493-container {
        padding: 32px 32px;
    }
}

.tss-1mdspge-background {
    background: no-repeat 55% 20%/100% url(https://images.ctfassets.net/1rkoumd4khui/5PmqHLpGtPA7Of5c2XFkJY/66e479b0ba6f6efb534bdacc506d726e/1-07-Contact-Us-Support-Mobile.jpg);
    padding-bottom: 188px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

@media (min-width: 768px) {
    .tss-1mdspge-background {
        padding-bottom: 0;
        background: linear-gradient(96deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1) 96%), 80%/80% url(https://images.ctfassets.net/1rkoumd4khui/5PmqHLpGtPA7Of5c2XFkJY/66e479b0ba6f6efb534bdacc506d726e/1-07-Contact-Us-Support-Mobile.jpg) no-repeat;
        position: absolute;
        left: -22%;
    }
}

@media (min-width: 992px) {
    .tss-1mdspge-background {
        left: -30%;
    }
}

@media (min-width: 1200px) {
    .tss-1mdspge-background {
        left: -22%;
    }
}

.tss-1xsxk1m-text {
    padding-bottom: 16px;
}

@media (min-width: 768px) {
    .tss-1xsxk1m-text {
        padding-bottom: 0;
        color: #ffffff;
        position: absolute;
        right: 12%;
        top: 25%;
        max-width: 420px;
    }
}

@media (min-width: 1200px) {
    .tss-1xsxk1m-text {
        top: 35%;
        max-width: 604px;
    }
}

@media (min-width: 992px) {
    .tss-1xsxk1m-text {
        top: 35%;
        max-width: 492px;
    }
}
.mui-zvb7li {
    margin: 0;
    font-weight: 400;
    font-size: clamp(1rem, 0.8925912137006702rem + 0.29784065524944153vw, 1.25rem);
    line-height: 1.4;
    color: inherit;
}
.mui-kxxti0 {
    margin: 0;
    font-weight: 600;
    font-size: clamp(1.75rem, 1.3740692479523455rem + 1.0424422933730455vw, 2.625rem);
    line-height: 1.2857142857142858;
    margin-bottom: 0.35em;
    color: inherit;
}

.mui-lr7edm {
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.tss-psf2ze-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-gap: 16px;
    grid-gap: 16px;
}
.mui-bmqxm9 {
    background: #f4f5f6;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
@media (min-width: 768px) {
    .tss-psf2ze-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr !important;
        -ms-grid-auto-rows: 1fr;
        grid-auto-rows: 1fr !important;
        -ms-grid-gap: 32px;
        grid-gap: 32px !important;
    }
}
@media (min-width: 768px) {
    .tss-1axpfa9-title {
        margin-bottom: 24px;
    }
}

@media (min-width: 1200px) {
    .tss-1axpfa9-title {
        margin-bottom: 32px;
    }
}

@media (min-width: 1920px) {
    .tss-1axpfa9-title {
        margin-bottom: 48px;
    }
}
.tss-psf2ze-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-gap: 16px;
    grid-gap: 16px;
}
.mui-2gb6d5 {
    margin: 0;
    font-weight: 600;
    font-size: clamp(0.875rem, 0.6064780342516753rem + 0.7446016381236039vw, 1.5rem);
    line-height: 1.3333333333333333;
}
.mui-1esbnpv {
    padding: 16px;
}

@media (min-width: 768px) {
    .tss-5mpn26-title {
        margin-bottom: 24px !important; 
    }
}
.tss-5mpn26-title {
    margin-bottom: 16px;
}
.mui-z7jfsf {
    margin: 0;
    font-weight: 600;
    font-size: clamp(1.75rem, 1.3740692479523455rem + 1.0424422933730455vw, 2.625rem);
    line-height: 1.2857142857142858;
}

.mui-1d3bbye {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.tss-1feau29-tableHeader {
    background-color: #bdbdbd;
}
@media (min-width: 768px) {
    .mui-195ejd6 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .mui-195ejd6 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}
.mui-195ejd6 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
}

.tss-jynp3s-tableCell {
    padding: 28px 32px;
}
@media (min-width: 768px) {
    .mui-48szgh {
        -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 33.333333%;
    }
}
@media (min-width: 576px) {
    .mui-48szgh {
        -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 33.333333%;
    }
}

.mui-48szgh {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 33.333333%;
}
.mui-2gb6d5 {
    margin: 0;
    font-weight: 600;
    font-size: clamp(0.875rem, 0.6064780342516753rem + 0.7446016381236039vw, 1.5rem);
    line-height: 1.3333333333333333;
    
}
.tss-17kc2ju-tableCell {
    padding-left: 32px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
@media (min-width: 768px) {
    .mui-48szgh {
        -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 33.333333%;
    }
}
@media (min-width: 576px) {
    .mui-48szgh {
        -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 33.333333%;
    }
}
.mui-48szgh {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 33.333333%;
}
.mui-1wn0x6i {
    margin: 0;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.7675912137006702rem + 0.29784065524944153vw, 1.125rem);
    line-height: 1.4444444444444444;
    
}
.tss-bmf7rp-tableRow {
    min-height: 84px;
    background-color: #fff;
    border-top: 1px solid #f4f5f6;
}
.tss-z9ef0k-availableText {
    color: #3ca478;
}

.tss-e1531w-background {
    color: #ffffff;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
@media (min-width: 576px) {
    .tss-e1531w-background {
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        text-align: left;
    }
}
@media (min-width: 576px) {
    .tss-qbmdlu-headline {
        padding-top: 0 !important;
    }
}
.tss-qbmdlu-headline {
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
}
@media (min-width: 576px) {
    .tss-e1531w-background {
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        text-align: left !important;
    }
}
.tss-e1531w-background {
    color: #ffffff;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
@media (min-width: 576px) {
    .tss-e1531w-background {
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        text-align: left !important;
    }
}
.tss-sbnuts-title {
    margin-bottom: 64px;
}
.mui-1wsgo96 {
    margin: 0;
    font-weight: 600;
    font-size: clamp(2.25rem, 1.390729709605361rem + 2.3827252419955323vw, 4.25rem);
    line-height: 1.2941176470588236;
    margin-bottom: 0.35em;
    
}
.tss-ldt0g9-title {
    max-width: 13em;
}
@media (min-width: 992px) {
    .tss-ldt0g9-title {
        margin-bottom: 24px;
    }
}
@media (min-width: 1200px) {
    .tss-ldt0g9-title {
        margin-bottom: 32px;
    }
}
.tss-1rzm4dj-paragraph {
    max-width: 34em;
}

.mui-1s0wg1r {
    margin: 0;
    font-weight: 400;
    font-size: clamp(1.125rem, 0.9638868205510052rem + 0.4467609828741623vw, 1.5rem);
    line-height: 1.3333333333333333;
    
}
.tss-cw3s0p-root-root-imageContainer {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
}